<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="user-container">
      <div class="sidebar">
        <div class="sidebar__top u-margin-bottom-4">
          <svg class="sidebar__icon">
            <use xlink:href="img/sprite.svg#icon-menu"></use>
          </svg>
          <a href="/" class="sidebar__easythrift">EasyThrift</a>
        </div>

        <div class="sidebar__navigation">
          <ul class="sidebar__navigation__list">
            <li class="sidebar__navigation__item">
              <a href="/user-dashboard" class="sidebar__link">
                <svg class="sidebar__icon">
                  <use xlink:href="img/sprite.svg#icon-home"></use>
                </svg>
                <span>home</span>
              </a>
            </li>

            <li class="sidebar__navigation__item">
              <a href="/payment-history" class="sidebar__link">
                <svg class="sidebar__icon">
                  <use xlink:href="img/sprite.svg#icon-map"></use>
                </svg>
                <span>history</span>
              </a>
            </li>
            <li class="sidebar__navigation__item">
              <a href="/profile" class="sidebar__link">
                <svg class="sidebar__icon">
                  <use xlink:href="img/sprite.svg#icon-account_circle"></use>
                </svg>
                <span>account</span>
              </a>
            </li>
            <!-- <li class="sidebar__navigation__item">
              <a href="" class="sidebar__link">
                <svg class="sidebar__icon">
                  <use xlink:href="img/sprite.svg#icon-credit-card"></use>
                </svg>
                <span>payment</span>
              </a>
            </li> -->

            <!-- <li class="sidebar__navigation__item">
              <a href="" class="sidebar__link">
                <svg class="sidebar__icon">
                  <use xlink:href="img/sprite.svg#icon-account_circle"></use>
                </svg>
                <span>account</span>
              </a>
            </li> -->

            <li class="sidebar__navigation__item">
              <a href="index.html" class="sidebar__link">
                <svg class="sidebar__icon">
                  <use xlink:href="img/sprite.svg#icon-log-out"></use>
                </svg>
                <span>logout</span>
              </a>
            </li>
          </ul>
        </div>

        <!-- <a href="" class="sidebar__link sidebar__bottom">
          <svg class="sidebar__icon">
            <use xlink:href="img/sprite.svg#icon-log-out"></use>
          </svg>
          <span>logout</span>
        </a> -->
      </div>

      <div class="main">
        <div class="main__top">
          <h3 class="user-dashoboard__name">
            Hi, LawaL
          </h3>

          <a href="profile.html" class="main__top__link">
            <svg class="main__top__icon">
              <use xlink:href="img/sprite.svg#icon-account_circle"></use>
            </svg>
          </a>
        </div>

        <!-- account seetings -->

        <div class="user-account">
          <div class="user-account__box">
            <h2>Personal information</h2>
            <form action="/profile" method="POST" class="personalize__form">
              <div class="personalize__form__box">
                <h3>Full Name</h3>
                <span><%= user.fullname %> </span>
              </div>
              <div class="personalize__form__box">
                <h3>Email address</h3>
                <span><%= user.email %></span>
              </div>
              <div class="personalize__form__box">
                <h3>Phone number</h3>
                <input type="text" name="phoneNumber" value="<%= user.phoneNumber %>" />
              </div>
              <div class="personalize__form__box">
                <h3>Acoount name</h3>
                <input type="text" name="accountName" value="<%= user.accountName %>" />
              </div>
              <div class="personalize__form__box">
                <h3>Acoount number</h3>
                <input type="text" name="accountNumber" value="<%= user.accountNumber %>" />
              </div>
              <div class="personalize__form__box">
                <h3>Bank name</h3>
                <select class="" name="selection" id="">
                  <option value="GT bank" name="bank" <%= user.bank == 'GT bank' ? 'selected' : '' %>>GT bank</option>
                  <option value="Access bank" name="bank" <%= user.bank == 'Access bank' ? 'selected' : '' %>>Access bank</option>
                  <option value="First banK" name="bank" <%= user.bank == 'First banK' ? 'selected' : '' %>>first bank</option>
                  <option value="UBA bank" name="bank" <%= user.bank == 'UBA bank' ? 'selected' : '' %>>UBA bank</option>
                </select>
              </div>
              <button class="btn btn--blue">save changes</button>
            </form>
          </div>

          <div class="user-account__box">
            <h2>Security Settings</h2>
            <form action="/changePassword" method="POST" class="personalize__form">
              <div class="personalize__form__box">
                <h3>old password</h3>
                <input type="password" name="password" />
              </div>
              <div class="personalize__form__box">
                <h3>New password</h3>
                <input type="password" name="confirmPassword"/>
              </div>
+            </form>
          </div>
        </div>

        <!-- ----------------------- -->
      </div>
    </div>
  </body>
</html>
